Tex/main.synctex.gz
Tex/main.out
Tex/main.log
Tex/main.aux
Tex/Ch03VisualizingData.aux
Tex/Ch03.aux
Tex/Ch04LinearAlgebra.aux
Codes/__pycache__/ch04.cpython-311.pyc
Tex/main.toc
Tex/Ch05Statistics.aux
Codes/__pycache__/ch05.cpython-311.pyc
Codes/__pycache__/Ch06Probability.cpython-311.pyc
Tex/Ch07Ch07HypothesisandInference.aux
Tex/Ch08GradientDescent.aux
Tex/Ch09GettingData.aux
Tex/_minted-main/default.pygstyle
Tex/_minted-main/97D79B6CE3D35C0EE16221434641603F5018845A16FEE2F871CFA2D2B2CFB1C6.pygtex
Tex/_minted-main/54C64F221C745130C1031453098DE1145018845A16FEE2F871CFA2D2B2CFB1C6.pygtex
Codes/__pycache__/Ch09_Getting_Data.cpython-311.pyc
Codes/line_count.txt
_minted-main