Tex/main.synctex.gz
Tex/main.out
Tex/main.log
Tex/main.aux
Tex/Ch03VisualizingData.aux
Tex/Ch03.aux
Tex/Ch04LinearAlgebra.aux
Codes/__pycache__/ch04.cpython-311.pyc
Tex/main.toc
Tex/Ch05Statistics.aux
Codes/__pycache__/ch05.cpython-311.pyc
Codes/__pycache__/Ch06Probability.cpython-311.pyc
